extends layout

block content
    h1= title

    ul 
        each val in book_list
            li
                //- this '#val.title' gives names of all hyperlinks
                a(href=val.url) #{val.title} 
                |  author: (#{val.author.name})
        else   
            li there are no books
